CLICKHOUSE_IMAGE=clickhouse/clickhouse-server:26.5.1.882
NGINX_IMAGE=nginx:1.27-alpine
PROMETHEUS_IMAGE=prom/prometheus:v3.2.1
GRAFANA_IMAGE=grafana/grafana:11.6.0

NGINX_PORT=8085
PROMETHEUS_PORT=9095
GRAFANA_PORT=3005

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin